<%= nested_form_for(question) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>


<%= f.fields_for :answers do |answer_form| %>
  <%= answer_form.text_field :name %>
  <%= answer_form.link_to_remove "Remove this task" %>
<% end %>
<p><%= f.link_to_add "Add a task", :answers %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

